<div class="shop-by-category">
  <div class="categories">
    <div class="category">
      <img src="../../../assets/images/category/cat-1.jpg" alt="" />
    </div>
    <div class="category">
      <img src="../../../assets/images/category/cat-2.jpg" alt="" />
    </div>
    <div class="category">
      <img src="../../../assets/images/category/cat-3.jpg" alt="" />
    </div>
    <div class="category">
      <img src="../../../assets/images/category/cat-4.jpg" alt="" />
    </div>
  </div>
</div>
