@import "../../../assets/css-config/mixins.scss";

.shop-by-category {
  border-radius: 8px;
  background: rgba(173, 169, 169, 0.2);
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important;
  margin: 25px 0;

  @include md {
    margin: 45px 0;
  }

  .categories {
    display: flex;
    flex-flow: wrap;
    gap: 10px;

    .category {
      background-color: black;
      width: calc(50% - 5px);
      cursor: pointer;
      overflow: hidden;

      @include md {
        width: calc(25% - 10px);
      }

      img {
        width: 100%;
        display: block;
        transition: all ease 0.3s;
      }

      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}
